Hello,

This is to notify you that your order has been updated, please find the details below:
{{event}}

If you have any questions, feedback or need some help, please do not hesitate to contact us at http://support.bitinstant.com.

Thanks!

The BitInstant Team
