The BitInstant Team
From: support@bitinstant.com

To: {{ order['NotifyEmail'] }}

Subject: BitInstant Transaction Successful

Hi {{user.FirstName}}

Thank you for using BitInstant!

This email is to notify you that your transaction was successfully executed at {{ eventat }}

Transaction ID: {{ order['OrderID'] }}

If you contact support about this transaction, please reference this number so we can help you more quickly.
Your payment of {{ order['AmountToCredit'] }} was transferred to {{ order['ExchangeName'] }}.
We appreciate your business and hope that you will consider BitInstant in the future.
Have feedback? We'd love to hear it. Please leave us your comments, concerns or praise. Please visit us at http://www.bitinstant.com/feedback.

Thanks!

The Bitinstant Team