From: support@bitinstant.com

To: {{ user email address}}

Subject: BitInstant Payment Confirmed

Hi {{user.FirstName}}

Thank you for using BitInstant!

This email is to notify you that we have received your payment at {{ eventat }}


Transaction ID: {{ order['OrderID'] }}

If you contact support about this transaction, please reference this number so we can help you more quickly.
We have received your payment of {{ order['AmountDue'] }}.
We have initiated the transaction to send your funds to {{ order['ExchangeName'] }}.
Transaction times vary based on both the origin and destination of your funds. Before you contact support regarding your funds, please check your order status on our website homepage.
If you have not received your funds within 6 hours, please feel free to open a support ticket so that we can verify your transaction details.
If you have any questions, feedback or need some help, please don’t hesitate to contact us. Our Customer Support Center is useful to finding answers to common questions: http://support.bitinstant.com. If you don’t find what you need there, please use the contact us form: http://support.bitinstant.com/customer/portal/emails/new to get help from real live people right here in the US!

For updates please follow us @bitinstanthelp on Twitter.

Thanks!

The Bitinstant Team
